<h1>Add New Product</h1>

<%= simple_form_for @form, url: {action: "create_product"} do |f| %>
  <% if @form.errors.any? %>
  	<div id="error_explanation">
  	  <h2><%= pluralize(@form.errors.count, "error") %> prohibited this product from being saved:</h2>

  	  <ul>
  	    <% @form.errors.full_messages.each do |message| %>
  	      <li><%= message %></li>
  	    <% end %>
  	  </ul>
  	</div>
  <% end %>
	
	<%= f.input :name, lable: 'Name: '%>
	
	<%= f.input :price, lable: 'Price: ' %>

  <%= f.input :quantity, label: 'Quantity' %>

	<%= f.submit "create_product", class: "btn btn-primary" %>

<% end %>